<template>
    <div>
        <h1>Todos</h1>

        <p>This component demonstrates fetching data from the server.</p>
        <input class="form-control" placeholder="Add some stuff to do!" value="New Todo" />
        <button class="btn btn-primary" @click.prevent="createTodo(newTodo)">
            <i class="fa fa-plus"></i> Todo</button>
        <table v-if="todos.length" class="table">
            <thead>
                <tr>
                    <th>name</th>
                    <th>Done</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in todos">
                    <td>{{ item.name }}</td>
                    <td>{{ item.isDone }}</td>
                    <td>
                        <button class="button" @click.prevent="editTodo" ;>
                            <i class="glyphicon glyphicon-edit"></i>Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <p v-else>
            <em>Loading...</em>
        </p>
    </div>
</template>

<script src="./todos.ts"></script>